#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
  max-width: 100vw;
  height: 100vh;
  background-image: radial-gradient(rgb(0, 108, 0) 2px, green 0);
  background-size: 30px 30px;
}
